body{
    background: darkslategray !important;
}

.logincontainer input{
    transition: 0.3s;
}
.logincontainer input:focus{
    transform: scale(1.075) !important;

}
.logincontainer{
    background: #237fec;
}
.DisplayTable{
    width:80%;
    background-color:black !important;
}
.DisplayTable thead{
    background-color:black !important;
}
.DisplayTable th, .DisplayTable td{
    vertical-align:middle;
    padding: 10px 20px 10px 20px;
}
.orderButton{
    background:blue;
    padding:10px 20px 10px 20px;
    width:80%;
    margin-left:10%;
    border-radius:10px;
}

.urgentOrder{
    background: red !important;
}

.confirmOrderButton{
    padding: 10px 20px 10px 20px;
    border-radius:10px;
    background: #54d054;
    color:white;
    background: linear-gradient(to bottom, #57f357 50%, #94f894 50%);
    background-size: 100% 200%;
    background-position:  bottom;
    transition:300ms, background 1s;
}
.confirmOrderButton:hover{
    background-position: top;
    transform:scale(1.1);

}

.cancelOrderButton{
    padding: 5px 10px 5px 10px;
    border-radius:10px;
    background: #54d054;
    color:white;
    background: linear-gradient(to bottom, #ff0000 50%, #f35757 50%);
    background-size: 100% 200%;
    background-position:  bottom;
    transition:300ms, background 1s;
}
.cancelOrderButton:hover {
    background-position: top;
    transform:scale(1.1);
}

.sidebar-wrapper {
  position: absolute;
  width: 250px;
  height: 100%;
}

@media (max-width: 992px) {
  .sidebar-wrapper {
    display: none !important;
  }
}

.content-wrapper {
  margin-left: 250px;
}

@media (max-width: 992px) {
  .content-wrapper {
    margin-left: 0 !important;
  }
}

.min-h-screen {
  min-height: 100% !important;
}

.content-header {
  padding: 15px 0.5rem;
}

.content-header h1 {
  font-size: 1.8rem;
  color: #ffff;
}

.content-wrapper .content {
  padding: 0 0.5rem;
}

.card {
  margin-bottom: 1rem;
}

.declineButton{
    background:indianred;
    padding:10px 20px 10px 20px;
    width:80%;
    margin-left:10%;
    border-radius:10px;
}

.approveButton{
    background: #5af35a;
    padding:10px 20px 10px 20px;
    width:80%;
    margin-left:10%;
    border-radius:10px;
}
