body{
    background: darkslategray !important;
}
input:focus{
    transform: scale(1.075) !important;
    transition: 0.3s;
}
.logincontainer{
    background: #237fec;
}

.sidebar-wrapper {
  position: absolute;
  width: 250px;
  height: 100%;
}

.content-wrapper {
  margin-left: 250px;
}

.min-h-screen {
  min-height: 100% !important;
}

.content-header {
  padding: 15px 0.5rem;
}

.content-header h1 {
  font-size: 1.8rem;
  color: #ffff;
}

.content-wrapper .content {
  padding: 0 0.5rem;
}

.card {
  margin-bottom: 1rem;
}
